/gk_test.py
/important_links.txt
/notes.txt
/requirements.txt
/setup.py
/similar_urls.txt
/test.py
/test2.py
/test_graph.py
/word2vec.bin
/word2vec.py
/word2vec_text.txt
/wordToVec.py
/wordToVect.py
/word_to_vec_links